.login{
height: 100vh;
background-color: #4d4d4d;
display: flex;
align-items: center;
justify-content: center;
    .card{
        width: 50%;
        display: flex;
        background-color: #fff;
        border-radius: 10px;
        min-height: 600px;
        .decSide{
            background: linear-gradient(rgba(255, 0, 0, 0.479),rgba(0, 0, 0, 1));
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color:white;
            h1{
                font-size: 100px;
                line-height:100px;
            }
            p{}
            span{
                font-size:14px;
            }
            button{
                width: 50%;
                padding:10px;
                border:none;
                background-color: white;
                color: red;
                cursor: pointer;
                font-weight: bold;
            }
        }
        .formSide{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                margin-bottom:30px
            }
            form{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding:10px;
                    outline:none;
                }
                button{
                    width: 50%;
                    padding:10px;
                    border:none;
                    background-color: red;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}